

@media only screen and (max-width: 800px) {

  .mobile {
    max-width:350px;
    margin: auto;
  
    border-radius: 10px;
    display:block;
  }

    /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgb(240, 230, 230);
  position: relative;
  
  
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: rgb(112, 108, 108);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;

  
}

/* Style the hamburger menu */
.icon {
  background: rgb(201, 198, 198);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}



/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(124, 117, 117);
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgb(208, 240, 228);
  color: rgb(117, 114, 114);
}
  }

  @media only screen and (min-width: 801px) {

  .mobile {
    max-width:800px;
    margin: auto;
    
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(202, 196, 196);
    color:black;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a.icon {
    float:right;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(124, 117, 117);
  }
  
  .active {
    background-color: rgb(208, 240, 228);
    color: rgb(117, 114, 114);

  }
}